out/
.DS_Store
.classpath
.project
.settings/
*.ipr
*.iml
*.iws
/target
*/target
test-output
temp-testng*.xml
build/
.gradle
*~
\#*
*.log
.idea
*xcode/
**/*.xcworkspace/
support/data
support/dll/
support/config/*.xml
src/main/conf/development/log4j.properties
support/config/local*
**/src/main/conf/development/*
support/log
support/gpg/gpg.sec
*.pexe
project/project/target
*/project/**
